env
myapp/__pycache__/
.idea/
myapp/views.pyc
myapp/__init__.pyc
myapp/models.pyc
myapp/settings.pyc
myapp/settings.py
myapp/utils.pyc
myapp/settings.py
myapp/lightsheet-config.cfg
myapp/sscg-config.cfg
node_modules
package-lock.json
myapp/libs/ImagingEcosystem
