{% extends "branding.html" %}
{% block content %}
<div class="container-fluid sscg-container">
    <br/>
    <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-5">
            <div class="form-group">
                <label class="sscg-label">Job Name: </label>
                <input type="text" class="form-control sscg-input" name="job-name" id="task-name" value="Gen1_{{ date_now | safe | strftime_short }}">
            </div>
        </div>
        <div class="col-lg-7 col-md-7 col-sm-7">
            <div class="form-group">
                <label class="sscg-label">User Name: </label>
                <input type="text" class="form-control sscg-input" name="user-name" id="user-name" value="">
            </div>
        </div>
    </div>
    <div class="row">
         <!-- Name field -->
         <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Line Names</label>
                <textarea class="form-control rounded-0" rows="20" id="line-names"></textarea>
            </div>
         </div>
         <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="form-group">
                <label for="exampleFormControlTextarea2">A-Line</label>
                <textarea class="form-control rounded-0" rows="1" id="a-line"></textarea>
            </div>
            <div class="form-group form-inline">
                <button type="button" class="form-control btn btn-info" name="generate-crosses" id="generate-crosses" value="Generate crosses">Generate crosses</button>
                <!-- <a id="generate_link" href="{{ url_for('compute_splits', linenames='linenames', aline='aline') }}"><button class="form-control btn btn-info">Generate Crosses</button></a> -->
            </div>
            <!-- https://www.tutorialspoint.com/flask/flask_file_uploading.htm -->
            <form action = "http://localhost:5000/uploader" method = "POST"enctype = "multipart/form-data" style="display: none;">
             <input type = "file" name = "file" disabled= />
             <input type = "submit" disabled/>
            </form>
         </div>
    </div>
</div>
<script>

    var landing = landing || {};

    // show an error string which disappears on its own
    landing.addSpinningWheel = function() {
        // https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif
        $('body').prepend(`<div id="working-onit">
                                <div class="overlay-heading"><h4>Split results are being generated.</h4></div>
                                <img src="{{ url_for('static', filename='files/Loading_icon.gif') }}" />
                           </div>`);
    },

    landing.removeError = function() {
        $('#error-panel').remove();
    },

    // show an error string which disappears on its own
    landing.showErrorPanel = function() {
        // https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif
        $('body').prepend(`<div id="error-panel">
                                <div id="error-close" class="fa fa-window-close-o"  onclick="landing.removeError()"></div>
                                <div class="overlay-heading"><h4>There was an error generating splits.</h4></div>
                                <div class="error-icon"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></div>
                           </div>`);
    },

    landing.fetchPolling = function(task_id){
        var url = window.origin + '/polling/' + task_id;
        console.log(url);
        fetch(url)
            .then(function(response) {
                return response.json();
            })
            .then(function(myJson) {
                console.log(myJson);
                if (myJson === 'SUCCESS') {
                    window.location = window.origin + '/result/' + task_id;
                } else if (myJson === 'pending') {
                    console.log('pending');
                    if ($('#working-onit').length === 0) {
                        landing.addSpinningWheel();
                    }
                    setTimeout(landing.fetchPolling, 5000, task_id);
                } else if (myJson === 'ERROR') {
                    $('#working-onit').remove();
                    landing.showErrorPanel();
                    throw new Error("Task status is error");
                }
            })
            .catch(function(error) {
                console.log("Error: " + error);
            });
    }

    $(document).ready(function(){

        $('#generate-crosses').attr("disabled", "disabled");

        // collect all information to be send as POST request to backend
        $('#generate-crosses').on('click', function(event){
            let data = {
                'lnames': $('#line-names')[0].value,
                'aline': $('#a-line')[0].value,
                'task_name': $('#task-name')[0].value
            };
            var userInput = $('#user-name')[0];
            var user = null;
            if (userInput) {
                user = userInput.value;
            }
            const jsonData = JSON.stringify(data);
            const url = window.origin + '/compute_splits/' + user;

            const calculateRequest = new Request(url, {
                method: 'POST',
                body: jsonData,
                headers: {
                    'content-type': 'application/json'
                },
            });

            fetch(calculateRequest)
            .then(function(response) {
                if (response.status == 200) {
                    return response.json();
                }
                throw new Error("Unexpected response status: " + response.status);
            })
            .then(function(data) {
                if (!data.task_id) {
                    throw new Error("Unexpected response format: no task ID found");
                }
                if (data.status !== 'QUEUED') {
                    throw new Error("Task couldn't be queued. Its status is: " + data.status);
                }

                if (data){
                    landing.fetchPolling(data.task_id);
                }
            })
            .catch(function(error) {
                console.log("Error: " + error);
            });
        })

        /*
            Make sure, button to generate crosses is only enabled if a valid user name is entered
        */
        var userConfigUrl = null;
        {%  if userUrl is defined %}
            userConfigUrl = "{{ userUrl|safe }}";
        {% endif %}

        $('#user-name').on('keyup', function(event){
            var checkName = this.value;

            const userRequest = new Request(userConfigUrl + '/' + checkName, {
                method: 'GET',
                headers: {
                    'content-type': 'application/json'
                },
            });

            fetch(userRequest)
            .then(function(response) {
                if (response.status == 200) {
                    return response.json();
                }
                $('#generate-crosses').attr("disabled", "disabled");
                throw new Error("Unexpected response status: " + response.status);
            })
            .then(function(data) {
                if (data['config'] && data['config']['id']) {
                    // valid user found
                    $('#generate-crosses').removeAttr('disabled');
                }
            })
            .catch(function(error) {
                console.log("Error: " + error);
            });
        })
    });
</script>
{% endblock %}