{% extends "branding.html" %}
{% block content %}
<div class="container-fluid sscg-container">
    <div class="row sscg-row">
        <h5>Available Tasks</h5>
    </div>
    <div class="row sscg-row">
        <div class="col-lg-11 col-md-11 col-sm-12">
            <table class="table table-hover table-bordered-bottom table-condensed" style="width:100%">
                <tr>
                    <th>Task ID</th>
                    <th>Date</th>
                    <th></th>
                </tr>
                {% if directories is not none %}
                  {% for dir in directories %}
                  <tr class="task-row">
                      <td class="task_id"><a href="{{ url_for('detail', task_id=dir['folder'])}}">{{ dir['folder'] }}</a></td>
                      <td>{{ dir['date'] }}</td>
                      <td>
                          <a class="output-icon" href="{{ url_for('result', task_id=dir['folder'])}}"><i class="fa fa-info-circle" aria-hidden="true"></i></a>
                      </td>
                      <td class="output-column">
                          {% if output is not none and task_id == dir['folder'] %}
                              <span>{{ output }}</span>
                          {% endif %}
                      </td>
                  </tr>
                  {% endfor %}
                {% endif %}
            </table>
        </div>
    </div>
</div>
{% endblock %}