{% extends "branding.html" %}
{% block content %}
<div class="container-fluid sscg-container">
    <div class="row sscg-row">
        <h5>Available Tasks</h5>
    </div>
    <div class="row sscg-row">
        <div class="col-lg-9 col-md-11 col-sm-12">
            <table class="table table-hover table-bordered-bottom table-condensed" style="width:100%">
                <tr>
                    <th>Task ID</th>
                    <th>Date</th>
                    <th></th>
                </tr>
                {% if directories is not none %}
                    {% for dir in directories %}
                        <tr>
                            <td><a href="{{ url_for('result', task_id=dir['folder'])}}">{{ dir['folder'] }}</a></td>
                            <td>{{ dir['date'] }}</td>
                            <td><i class="fa fa-info-circle output-icon" aria-hidden="true"></i></td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </table>
        </div>
    </div>
</div>
{% endblock %}