{% extends "branding.html" %}
{% block content %}
<div class="container-fluid sscg-container">
    <div class="row">
         <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Line Names</label>
                <textarea class="form-control rounded-0" id="exampleFormControlTextarea1" rows="20"></textarea> 
            </div>
         </div>
         <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="form-group">
                <label for="exampleFormControlTextarea2">A-Line</label>
                <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="1"></textarea>
            </div>
         </div>
    </div>
</div>
{% endblock %}